/.DS_Store
/__pycache__
/converter.py
/finder.py
/imdb.py
/imdbr.csv
/imdbr.json
/main.py
/movies_rating_8.json
/movies_rating_above_8.csv
/movies_rating_above_8.json
/my_local_copy.csv
/myenv
/read.py
/test.csv
/testconvert.py